.logo {
    margin: 20px 0;
    width: 175px;
    height: 40px;
    background: url(img/copyfight-logo.png) no-repeat;
    background-size: 100%;
}

.version {
    float: right;
}

.cf_settings {
    max-width: 700px;
}

.activate-option {
    background: #e3e3e3;
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px;
}
.activate-option.clicked {
    background: #649316;
    color: #fff;
}
.activate-option.clicked:hover {
    background: #68802E;
    color: #fff;
}

.activate-option p {
    margin: 10px 0 10px;
}

.activate-highlight input.regular-text {
    width: 20em;
}

.right {
    float: right;
}

.activate-highlight {
    background: #fff;
    padding: 30px;
    margin-right: 10px;
    clear: both;
}

.activate-highlight.secondary {
    background: #ddd;
    padding: 20px 30px;
}

.activate-highlight h3 {
    margin: 0 0 0.3em;
}
.activate-highlight p {
    color: #777;
}
.option-description {
    float: left;
    font-size: 16px;
}

#copyfight-enter-api-key .regular-text {
    width: 18em;
}

#copyfight_typeface {
    float: left;
}

#copyfight_typeface {
    margin-right: 10px;
}

.dashicons-info,
#copyfight_typeface_info_loader {
    display: none;
}

.dashicons-info {
    font-size: 26px;
    width: 26px;
    height: 26px;
    margin-top: 4px;
}

#copyfight_typeface_info_loader img {
    width: 24px;
    height: 24px;
    margin-top: 4px;
}

.cf_modal {
    display: none;
}

.cf_settings a.thickbox {
    text-decoration: none;
}

.settings_page_copyfight #TB_title,
.settings_page_copyfight #TB_closeWindowButton .tb-close-icon {
    padding: 15px;
    font-size: large;
}

.option-description {
    float: left;
}

.copyfight_activate {
    min-width: 825px;
    border: 1px solid #be3b11;
    padding: 5px;
    margin: 15px 0;
    background: #e13f02;
    background-image: -webkit-gradient(linear, 0% 0, 80% 100%, from(#e13f02), to(#be3b11));
    background-image: -moz-linear-gradient(80% 100% 120deg, #be3b11, #e13f02);
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.copyfight_activate .aa_button {
    font-weight: bold;
    border: 1px solid #029DD6;
    border-top: 1px solid #06B9FD;
    font-size: 15px;
    text-align: center;
    padding: 9px 0 8px 0;
    color: #FFF;
    background: #029DD6;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#029DD6), to(#0079B1));
    background-image: -moz-linear-gradient(0% 100% 90deg, #0079B1, #029DD6);
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.copyfight_activate .aa_button:hover {
    text-decoration: none !important;
    border: 1px solid #029DD6;
    border-bottom: 1px solid #00A8EF;
    font-size: 15px;
    text-align: center;
    padding: 9px 0 8px 0;
    color: #F0F8FB;
    background: #0079B1;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0079B1), to(#0092BF));
    background-image: -moz-linear-gradient(0% 100% 90deg, #0092BF, #0079B1);
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.copyfight_activate .aa_button_border {
    border: 1px solid #006699;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #029DD6;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#029DD6), to(#0079B1));
    background-image: -moz-linear-gradient(0% 100% 90deg, #0079B1, #029DD6);
}

.copyfight_activate .aa_button_container {
    display: inline-block;
    background: #fe7b41;
    padding: 5px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 266px;
}

.copyfight_activate .aa_description {
    position: absolute;
    top: 22px;
    left: 285px;
    margin-left: 25px;
    color: #fff;
    font-size: 15px;
    z-index: 1000;
}

.copyfight_activate .aa_description strong {
    color: #FFF;
    font-weight: normal;
}

.form-table.referrals {
    background-color: #fff;
}

#referrals-overview {
    width: 100%;
}

.referral_link {
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 1em;
}

.referral-social-share input[type=button] {
    color: #fff;
    text-decoration: underline;
    height: 50px;
    width: 224px;
    float: left;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 0;
    background-repeat: no-repeat;
}

input.referral-facebookButton {
    background-color: #3B5998;
}

input.referral-twitterButton {
    background-color: #29a7de;
}

input.referral-emailButton {
    background-color: #707070;
}

.copyfight_plans {
    padding-bottom: 1em;
    min-height: 460px;
}

.copyfight_plans img {
    float: left;
    cursor: pointer;
    width: 170px;
}

.copyfight_plans img {
    margin-right: 5px;
    margin-bottom: 1em;
}

.donate {
    clear: both;
    margin-bottom: 1em;
}
